.sec
{
    position: relative;
    padding: 100px;
    background: #96283a;
}

.sec h2
{
    font-size: 3em;
    color: #fff;
    margin-bottom: 10px;
}

.sec p
{
    font-size: 1em;
    color: #fff;
    font-weight: 300;
}

@media (max-width: 992px)
{
    .sec
    {
      padding: 20px;
    }

    .sec h2
    {
      font-size: 1.5em;
    }
}
