@import url('https://fonts.googleapis.com/css2?family=Press+Start+2P&display=swap');
*
{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
}

.App{
  min-height: 100vh;
  overflow-x: hidden;
  background: linear-gradient(#367CD6, #0054FF);
}